// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

body {
  background: #FF8E47;
  color: #fff;
}
a,a:visited {
  color:#fff
}

h1 {
    color: white;
    text-align: center;
    font: 60px/20px 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
